<mat-toolbar class="md-medium-tall" style="margin-top: 20px;" color="primary">
    <mat-toolbar-row>
      <span class="menu-spacer"></span>
      <div>      
        <button mat-raised-button color="accent" *ngIf="!loggedIn()">Sign-up </button>
        <button mat-raised-button color="accent" *ngIf="!loggedIn()" [routerLink]="'/login'"> Log in </button>
        <button mat-raised-button color="accent" *ngIf="loggedIn()" (click)="logout()"> Log out </button>          
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>