<mat-toolbar class="md-medium-tall" color="primary">
    <mat-toolbar-row>
        <button  mat-raised-button >Apoteke</button>     
        <button  mat-raised-button >Posete dermatologu</button>     
        <button  mat-raised-button >Savetovanja kod farmaceuta</button>     
        <button  mat-raised-button >Zakazane posete dermatologu</button>     
        <button  mat-raised-button >eRecepti</button>     
        <button  mat-raised-button >Rezervisani lekovi</button>     
        <button  mat-raised-button >Penali</button>     
        <button  mat-raised-button >Izdati lekovi</button>     
        <button  mat-raised-button >Kreiranje zalbe</button>     
        <button  mat-raised-button >Preuzimanje leka</button>     
        <button  mat-raised-button >Zakazivanje savetovanja</button>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
