@import "../../app.component.scss";


mat-card {
    width:30vw;
   // max-width: 400px;
    margin: 10em auto;
    text-align: center;

    mat-form-field{
      margin: 1em auto;
      width:25vw;
      color: green;
    }
  }
  
